@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #fff;
  background: radial-gradient(circle, #1f3756, #15103d);
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  position: fixed;
  bottom: 0.5%;
  left: 0.5%;
  text-align: center;
  line-height: 16px;
  padding: 2px 0px 1px;
  background-color: lightcyan;
  width: 240px;
  max-width: 86%;
  margin-top: auto;
  font-size: 11px;
}

footer a {
  color: #000;
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #606e85;
  max-width: 43.75rem;
  width: 100%;
  margin-top: 1.875rem;
  border-radius: 1rem;
  padding: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text {
  font-size: 2.5rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 2rem;
}

.score-box {
  padding: 0.75rem 2.5rem;
  background-color: #fff;
  color: #2a46c0;
  border-radius: 5px;
}

.score-box_score {
  color: #3b4363;
  font-size: 3.5rem;
  font-weight: 700;
}

.play {
  width: 100%;
  position: relative;
  margin-top: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.triangle {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 4.375rem;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items .icon {
  height: 160px;
  width: 160px;
  border: 18px solid;
  border-radius: 50%;
}

.items .icon-paper {
  background-color: #fff;
  background-image: url("../assets/images/icon-paper.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #4865f4;
  -webkit-transform: translateX(1.5rem);
          transform: translateX(1.5rem);
}

.items .icon-scissors {
  background-color: #fff;
  background-image: url("../assets/images/icon-scissors.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #ec9e0e;
  -webkit-transform: translateX(8rem);
          transform: translateX(8rem);
}

.items .icon-rock {
  background-color: #fff;
  background-image: url("../assets/images/icon-rock.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #482edc;
  -webkit-transform: translateX(-10rem) translateY(13rem);
          transform: translateX(-10rem) translateY(13rem);
}
/*# sourceMappingURL=styles.css.map */