.footer {
    width: 100vw;

    .attribution {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 1rem;
        color: #000;
        background: lightcyan;
        padding: 2px 5px 3px;
        font-size: 15px;
        a {
            text-decoration: none;
        }
    }


    button {
        position: absolute;
        bottom: 1rem;
        padding: 7px 25px;
        right: 1rem;
        border-radius: 0.4rem;
        border: 3px solid $header-outline;
        color: lighten($header-outline, 20%);
        background: none;


        font-weight: 600;
        letter-spacing: 2px;

        &:hover {
            background-color: rgba(#ffffff, 0.8);
            color: $dark-text;
            cursor: pointer;
        }
    }

}

// footer {
//     position        : fixed;
//     bottom          : 0.5%;
//     left            : 0.5%;
//     text-align      : center;
//     line-height     : 16px;
//     padding         : 2px 0px 1px;
//     background-color: lightcyan;
//     width           : 240px;
//     max-width       : 86%;
//     margin-top      : auto;
//     font-size       : 11px;
// }


// footer a {
//     color          : #000;
//     text-decoration: none;
// }